@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom global styles below */
html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

body {
  margin: 0;
  padding: 0;
}

/* You can add more custom styles here */ 